<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <script src="vue.js"></script>
  <div id="app">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">メッセージ反転</button>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        message: 'Hello World!'
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split('').reverse().join('')
        }
      }
    })
  </script>
</body>

</html>
